<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>

    <body>

        <h2>Insert Texts</h2>

        <form id="blog" action="/blogs/add-blogs" method="post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="snippet">snippet:</label>
            <input type="text" id="snippet" name="snippet" required>

            <label for="content">Content:</label>
            <textarea id="blogbody" name="blogbody" rows="4" required></textarea>

            <button type="submit">Submit</button>
        </form>
        <%- include('../partials/footer') %>
    </body>

</html>