<html>

<head>
    <link rel="stylesheet" href="avatar.css">
</head>
<div class="avatar-upload">
    <div class="avatar-edit">
        <form action="/api/upload_picture" method="post" id="form-image">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
            <div class="row gx-3 mb-3">

                <div class="col-md-6">
                    <label class="small mb-1" for="inputFirstName">First name</label>
                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name"
                        value="Valerie">
                </div>
                <div class="row gx-3 mb-3">

                    <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName">First name</label>
                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name"
                            value="Valerie">
                    </div>

                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Last name</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name"
                            value="Luna">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="avatar-preview">
        <img class="profile-user-img img-responsive img-circle" id="imagePreview"
            src="https://adminlte.io/themes/AdminLTE/dist/img/user3-128x128.jpg" alt="User profile picture">
    </div>
</div>

</html>