<link rel="stylesheet" href="/css/not-popups.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="vcv-container">
    <div id="sent" class="vce-message-box vce vce-message-box-style--success">
        <div class="vce-message-box-inner">
            <span class="vce-message-box-icon material-icons">check</span>
            <span class="vce-message-box-text">
                <p>Message have beem sent!</p>
            </span>
        </div>
    </div>

    <div id="new-message" class="vce-message-box vce vce-message-box-style--information">
        <div class="vce-message-box-inner">
            <span class="vce-message-box-icon material-icons">chat_bubble_outline</span>
            <span class="vce-message-box-text">
                <p>You got new messages</p>
            </span>
        </div>
    </div>

    <div class="vce-message-box vce vce-message-box-style--warning">
        <div class="vce-message-box-inner">
            <span class="vce-message-box-icon material-icons">change_history</span>
            <span class="vce-message-box-text">
                <p>Notification systems are used by businesses to deliver messages</p>
            </span>
        </div>
    </div>
    <div id="deleted" class="vce-message-box vce vce-message-box-style--error">
        <div class="vce-message-box-inner">
            <span class="vce-message-box-icon material-icons">close</span>
            <span class="vce-message-box-text">
                <p>Conversation deleted successfully</p>
            </span>
        </div>
    </div>
    <div id="error" class="vce-message-box vce vce-message-box-style--error">
        <div class="vce-message-box-inner">
            <span class="vce-message-box-icon material-icons">close</span>
            <span class="vce-message-box-text">
                <p>Notification systems are used by businesses to deliver messages</p>
            </span>
        </div>


        <div class="vce-outline-message-box vce vce-outline-message-box-style--success">
            <div class="vce-outline-message-box-inner">
                <span class="vce-outline-message-box-icon material-icons">check</span>
                <span class="vce-outline-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-outline-message-box vce vce-outline-message-box-style--information">
            <div class="vce-outline-message-box-inner">
                <span class="vce-outline-message-box-icon material-icons">chat_bubble_outline</span>
                <span class="vce-outline-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-outline-message-box vce vce-outline-message-box-style--warning">
            <div class="vce-outline-message-box-inner">
                <span class="vce-outline-message-box-icon material-icons">change_history</span>
                <span class="vce-outline-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-outline-message-box vce vce-outline-message-box-style--error">
            <div class="vce-outline-message-box-inner">
                <span class="vce-outline-message-box-icon material-icons">close</span>
                <span class="vce-outline-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-semi-filled-message-box vce vce-semi-filled-message-box-style--success">
            <div class="vce-semi-filled-message-box-inner">
                <span class="vce-semi-filled-message-box-icon material-icons">check</span>
                <span class="vce-semi-filled-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-semi-filled-message-box vce vce-semi-filled-message-box-style--information">
            <div class="vce-semi-filled-message-box-inner">
                <span class="vce-semi-filled-message-box-icon material-icons">chat_bubble_outline</span>
                <span class="vce-semi-filled-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-semi-filled-message-box vce vce-semi-filled-message-box-style--warning">
            <div class="vce-semi-filled-message-box-inner">
                <span class="vce-semi-filled-message-box-icon material-icons">change_history</span>
                <span class="vce-semi-filled-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-semi-filled-message-box vce vce-semi-filled-message-box-style--error">
            <div class="vce-semi-filled-message-box-inner">
                <span class="vce-semi-filled-message-box-icon material-icons">close</span>
                <span class="vce-semi-filled-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-simple-message-box vce vce-simple-message-box-style--success">
            <div class="vce-simple-message-box-inner">
                <span class="vce-simple-message-box-icon material-icons">check</span>
                <span class="vce-simple-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-simple-message-box vce vce-simple-message-box-style--information">
            <div class="vce-simple-message-box-inner">
                <span class="vce-simple-message-box-icon material-icons">chat_bubble_outline</span>
                <span class="vce-simple-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-simple-message-box vce vce-simple-message-box-style--warning">
            <div class="vce-simple-message-box-inner">
                <span class="vce-simple-message-box-icon material-icons">change_history</span>
                <span class="vce-simple-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>

        <div class="vce-simple-message-box vce vce-simple-message-box-style--error">
            <div class="vce-simple-message-box-inner">
                <span class="vce-simple-message-box-icon material-icons">close</span>
                <span class="vce-simple-message-box-text">
                    <p>Notification systems are used by businesses to deliver messages</p>
                </span>
            </div>
        </div>
    </div>