body,header,nav,main,section {
  margin:0;
  padding:0
  }
  
  body {
  font-family:Arial,sans-serif;
  background-color:#fff
  }
  
  header {
  background-color:#fff;
  color:#000;
  padding:10px;
  text-align:center
  }
  
  nav {
  background-color:#fff;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center
  }
  
  #navbar {
  overflow:hidden;
  background-color:#fff;
  display:flex
  }
  
  #navbar a {
  display:block;
  color:#000;
  text-align:center;
  padding:14px;
  text-decoration:none
  }
  
  main {
  padding:20px
  }
  
  section {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap
  }
  
  .card {
  padding:20px;
  margin-top:100px;
  background-color:#fff;
  box-shadow:0 4px 8px #0000001a;
  border-radius:8px
  }
  
  .card:hover {
  box-shadow:0 8px 16px #0003
  }
  
  .card p {
  font-size:large
  }
  
  .card h1 {
  display:-webkit-box;
  overflow:hidden;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical
  }
  
  .avatar {
  cursor:pointer
  }
  
  .avatar img {
  width:70px;
  height:70px;
  border-radius:50%
  }
  
  .dropdown-content {
  display:none;
  position:absolute;
  background-color:#f9f9f9;
  min-width:120px;
  box-shadow:0 8px 16px #0003;
  z-index:1
  }
  
  .dropdown-content a {
  color:#000;
  padding:12px 16px;
  text-decoration:none;
  display:block
  }
  
  .dropdown-content a:hover {
  background-color:#f1f1f1
  }
  
  .avatar:hover .dropdown-content {
  display:block
  }
  
  .popup,.confirmationPopup,.edit-profile {
  display:none;
  position:fixed;
  top:50px;
  right:400px;
  width:100%;
  height:100%;
  background-color:#00000080;
  z-index:999;
  max-width:800px;
  max-height:600px
  }
  
  .popup-content,.content {
  background-color:#fff;
  border-radius:5px;
  box-shadow:0 0 10px #00000080;
  padding:20px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:1000px;
  height:600px
  }
  
  .close,.close-edit {
  color:#aaa;
  float:right;
  font-size:28px;
  font-weight:700
  }
  
  .close:hover,.close:focus,.close-edit:hover,.close-edit:focus {
  color:#000;
  text-decoration:none;
  cursor:pointer
  }
  
  .custom-icon {
  font-size:30px;
  margin-right:30px
  }
  
  .container {
  display:flex;
  justify-content:flex-end;
  padding:10px
  }